node_modules/
dist/
.env
.env.local
render.env
*.db
*.db-shm
*.db-wal
data/
uploads/*
!uploads/.gitkeep
!uploads/images/
!uploads/videos/
uploads/images/*
!uploads/images/.gitkeep
uploads/videos/*
!uploads/videos/.gitkeep
